*{
	margin: 0px;
	padding: 0px;
}
.login{
	width:100%;
	height:auto;
	
}
.login-form{
	width:100%;
	margin: 0 auto;
	padding: 7%;
	background:#bcc0d5;
	border-radius: 15px;
	margin-top: 100px;
}
.login-form label{
	margin-bottom: 0;
	font-weight: bold;
	margin-top: 5px;
	/*color:#8a8888;*/
	color:#000;
}
.login-form input{
	margin-top: 5 !important;
	padding:0px 10px;
}
.login-form button{
	margin-top: 2px;
}
.login-form h3{
	text-align: center;
}
.text-light{
	color: red;
}
.w3-teal, .w3-hover-teal:hover {
    color: #fff!important;
    background-color: #fd717e!important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
